<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:property-placeholder
		properties-ref="appProperties" system-properties-mode="FALLBACK" />

	<context:annotation-config />

	<context:component-scan base-package="hu.pte.schafferg.cellarManager" />



	<bean id="appProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean"
		p:location="/WEB-INF/app.properties" />

	<bean id="application" class="hu.pte.schafferg.cellarManager.CellarManager"
		scope="session">
		<property value="${application.name}" name="appTitle"></property>

	</bean>

	<bean id="simpleDateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MMM-dd"></constructor-arg>
	</bean>

	<bean id="mainMenu" class="hu.pte.schafferg.cellarManager.ui.components.MainMenu"
		scope="session" init-method="initContent">
	</bean>

	<bean id="roleHelperService"
		class="hu.pte.schafferg.cellarManager.services.RoleHelperService"
		scope="session">
	</bean>

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"
		scope="session">
		<property name="host" value="${mailserver.host}"></property>
		<property name="port" value="${mailserver.port}"></property>
		<property name="username" value="${mailserver.username}"></property>
		<property name="password" value="${mailserver.password}"></property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
			</props>
		</property>
	</bean>

	<bean id="emailService" class="hu.pte.schafferg.cellarManager.services.EmailService"
		scope="session">
	</bean>

	<bean id="welcomeView" class="hu.pte.schafferg.cellarManager.ui.WelcomeView"
		scope="session" init-method="initContent">
	</bean>



	<bean id="userService" class="hu.pte.schafferg.cellarManager.services.UserService"
		scope="session">
	</bean>
	<bean id="userList" class="hu.pte.schafferg.cellarManager.ui.components.UserList"
		init-method="initContent" scope="session">
	</bean>
	<bean id="userView" class="hu.pte.schafferg.cellarManager.ui.UsersView"
		scope="session" init-method="initContent">
	</bean>
	<bean id="userForm" class="hu.pte.schafferg.cellarManager.ui.components.UserForm"
		scope="session" init-method="initContent">
		<property name="zipRegExp" value="${application.zipRegExp}"></property>
		<property name="zipRegExpError" value="${application.zipRegExpError}">
		</property>
		<property name="phoneRegExp" value="${application.phoneRegExp}"></property>
		<property name="phoneRegExpError" value="${application.phoneRegExpError}">
		</property>
	</bean>


	<bean id="userSettingsView" class="hu.pte.schafferg.cellarManager.ui.UserSettingsView"
		init-method="initContent" scope="session">
		<property name="passwordRegExp" value="${application.passwordRegExp}">
		</property>
		<property name="passwordRegExpError" value="${application.passwordRegExpError}">
		</property>
	</bean>


	<bean id="contactList"
		class="hu.pte.schafferg.cellarManager.ui.components.ContactList"
		init-method="initContent" scope="session">
	</bean>
	<bean id="contactsView" class="hu.pte.schafferg.cellarManager.ui.ContactsView"
		scope="session" init-method="initContent">
	</bean>
	<bean id="contactsService" class="hu.pte.schafferg.cellarManager.services.ContactsService"
		scope="session">
	</bean>
	<bean id="contactForm"
		class="hu.pte.schafferg.cellarManager.ui.components.ContactsForm"
		init-method="initContent" scope="session">
		<property name="zipRegExp" value="${application.zipRegExp}"></property>
		<property name="zipRegExpError" value="${application.zipRegExpError}">
		</property>
		<property name="phoneRegExp" value="${application.phoneRegExp}"></property>
		<property name="phoneRegExpError" value="${application.phoneRegExpError}">
		</property>
	</bean>


	<bean id="landsList" class="hu.pte.schafferg.cellarManager.ui.components.LandsList"
		scope="session" init-method="initContent">
	</bean>
	<bean id="landsForm" class="hu.pte.schafferg.cellarManager.ui.components.LandsForm"
		scope="session" init-method="initContent">
	</bean>
	<bean id="landsView" class="hu.pte.schafferg.cellarManager.ui.LandsView"
		scope="session" init-method="initContent">
	</bean>
	<bean id="landService" class="hu.pte.schafferg.cellarManager.services.LandService"
		scope="session">
	</bean>


	<bean id="fieldWorkForm"
		class="hu.pte.schafferg.cellarManager.ui.components.FieldWorkForm"
		scope="session" init-method="initContent">
	</bean>
	<bean id="fieldWorkList"
		class="hu.pte.schafferg.cellarManager.ui.components.FieldWorkList"
		scope="session" init-method="initContent">
	</bean>
	<bean id="fieldWorkService"
		class="hu.pte.schafferg.cellarManager.services.FieldWorkService"
		scope="session">
	</bean>
	<bean id="fieldWorkView"
		class="hu.pte.schafferg.cellarManager.ui.FieldWorkView"
		init-method="initContent" scope="session">
	</bean>


	<bean id="grapeService" class="hu.pte.schafferg.cellarManager.services.GrapeService"
		scope="session">
	</bean>
	<bean id="grapeForm"
		class="hu.pte.schafferg.cellarManager.ui.components.GrapeForm"
		init-method="initContent" scope="session">
	</bean>
	<bean id="grapeList"
		class="hu.pte.schafferg.cellarManager.ui.components.GrapeList"
		init-method="initContent" scope="session">
	</bean>
	<bean id="grapeView"
		class="hu.pte.schafferg.cellarManager.ui.GrapeView"
		init-method="initContent" scope="session">
	</bean>
	

	<bean id="grapeMustService"
		class="hu.pte.schafferg.cellarManager.services.GrapeMustService"
		scope="session">
	</bean>
	<bean id="grapeMustList"
		class="hu.pte.schafferg.cellarManager.ui.components.GrapeMustList"
		init-method="initContent" scope="session">
	</bean>
	<bean id="grapeMustForm"
		class="hu.pte.schafferg.cellarManager.ui.components.GrapeMustForm"
		init-method="initContent" scope="session">
	</bean>
	<bean id="grapeMustView"
		class="hu.pte.schafferg.cellarManager.ui.GrapeMustView"
		init-method="initContent" scope="session">
	</bean>
	
	<bean id="analyticService" class="hu.pte.schafferg.cellarManager.services.AnalyticService"
		scope="session">
	</bean>
	<bean id="analyticList"
		class="hu.pte.schafferg.cellarManager.ui.components.AnalyticList"
		init-method="initContent" scope="session">
	</bean>
	<bean id="analyticForm"
		class="hu.pte.schafferg.cellarManager.ui.components.AnalyticForm"
		scope="session" init-method="initContent">
	</bean>
	<bean id="analyticView"
		class="hu.pte.schafferg.cellarManager.ui.AnalyticView"
		init-method="initContent" scope="session">
	</bean>



	<bean id="wineService" class="hu.pte.schafferg.cellarManager.services.WineService"
		scope="session">
	</bean>
	<bean id="wineForm"
		class="hu.pte.schafferg.cellarManager.ui.components.WineForm"
		init-method="initContent" scope="session">
	</bean>
	<bean id="wineList"
		class="hu.pte.schafferg.cellarManager.ui.components.WineList"
		init-method="initContent" scope="session">
	</bean>
	<bean id="wineView"
		class="hu.pte.schafferg.cellarManager.ui.WineView"
		init-method="initContent" scope="session">
	</bean>
	
	
	
	<bean id="saleService" class="hu.pte.schafferg.cellarManager.services.SaleService"
		scope="session">
	</bean>
	<bean id="saleList"
		class="hu.pte.schafferg.cellarManager.ui.components.SaleList"
		init-method="initContent" scope="session">
	</bean>
	<bean id="saleForm"
		class="hu.pte.schafferg.cellarManager.ui.components.SaleForm"
		init-method="initContent" scope="session">
	</bean>
	<bean id="saleView"
		class="hu.pte.schafferg.cellarManager.ui.SaleView"
		init-method="initContent" scope="session">
	</bean>
	
	
</beans>
